body{
    font-family: Helvetica, sans-serif;
    margin:0;
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    width: 70px;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    border: 0px;
    padding: 20px 160px;
    background-color: #1F2937;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul{
    list-style-type: none;
    display: flex;
    gap:30px;
    margin: 0px;
    padding: 0px;
}

.container-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 60px 160px;
}

.one-left{
    display: flex;
    width: 300px;
    flex-shrink: 0;
    flex-direction: column;
    gap:10px;
}

.image-one{
    width: 350px;
}

.title-one{
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.text-one{
    color: #E5E7EB
}

.button-one{
    color: white;
    background:#3882F6;
    border: none;
    border-radius: 8px;
    padding: 4px 24px;
}

.title-two{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 32px;
}

.container-inner{
    display: flex;
    justify-content: center;
    gap:52px;
    margin-bottom: 60px;
}

.info{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(80, 80, 80);
}

.info-img{
    width: 150px;
    border-radius: 25px;
}

.container-three{
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px;
    gap:20px;
}

.text-three{
    flex-wrap: wrap;
    width: 560px;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.name{
    display: flex;
    margin-left: 350px;
    font-weight: bold;
}

.container-four{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:52px;
    background-color: #3882F6;
    padding: 30px 80px;
    margin: 90px 160px;
    border-radius: 5px;
}
.action{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.text-four{
    font-size: 14px;
    color: white;
}

.button{
    color: white;
    background:#3882F6;
    border-radius: 8px;
    padding: 3px 24px;
    border-color: white;
    border: 1px solid;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}